.App {
  font-family: sans-serif;
  text-align: center;
}

.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.calendar {
  float: left;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  width: 300px;
  border: solid 1px #ccc;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}
.header {
  float: left;
  width: 100%;
  background: #2875c7;
  height: 40px;
  color: white;
}
.header > * {
  height: 40px;
  line-height: 40px !important;
  display: inline-block;
  vertical-align: middle;
}
.header > i {
  float: left;
  width: 40px;
  font-size: 1.125em;
  font-weight: bold;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}
.header > i.fa-angle-left {
  text-align: left;
}
.header > i.fa-angle-right {
  text-align: right;
  margin-left: -40px;
}
.header > span {
  float: left;
  /* width: 100%; */
  font-weight: bold;
  text-transform: uppercase;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 50px;
  margin-left: -40px;
  text-align: center;
  padding-right: 40px;
  color: inherit;
}
.week {
  float: left;
  width: 100%;
  border-top: solid 1px #ccc;
}
.week:first-child {
  border-top: none;
}
.week > span.day {
  float: left;
  width: 14.285714285714%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-left: solid 1px #ccc;
  font-size: 0.75em;
  text-align: center;
  height: 30px;
  line-height: 30px !important;
  display: inline-block;
  vertical-align: middle;
  background: white;
  cursor: pointer;
  color: black;
}
.week > span.day:first-child {
  border-left: none;
}
.week > span.day.today {
  background: #e3f2ff;
}
.week > span.day.different-month {
  color: #c0c0c0;
}
.week > span.day.selected {
  background: #2875c7;
  color: white;
}
.week.names > span {
  color: #2875c7;
  font-weight: bold;
}
